body {
    margin: 0 auto;
    font-family: Open Sans;
    background-color: rgb(187, 187, 187);
}
h1, h3, a {
    font-family: Roboto Slab;

}

li, p {
    font-family: Open Sans;
}

.topnav {
  float: left;
  overflow: hidden;
  background-color: gray;
}

.topnavright {
    float: right;
    overflow: hidden;
    background-color: gray;
  }

.topnav a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 24px;
}

.topnavright a {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 24px;
  }

.topnav a:hover {
  float: left;  
  background-color: #ddd;
  color: black;
}

.topnavright a:hover {
    float: right;
    background-color: #ddd;
    color: black;
  }

.topnav a.active {
  float: left;  
  background-color: whitesmoke;
  color: black;
}

.topnavright a.active {
    float: right;
    background-color: whitesmoke;
    color: black;
  }


.about {
    padding: 20px;
    margin: 20px;
    text-align: left;
    background: black;
    color: ghostwhite;
    font-size: 24px;
}

.skills {
    padding: 20px;
    margin: 20px;
    text-align: left;
    background: black;
    color: ghostwhite;
    font-size: 24px;
}

footer {
    padding: 20px;
    text-align: left;
    background-color: gray;
    color: ghostwhite;
    font-size: 16px;
}

header {
    height: 72px;
    background-color:rgb(0, 0, 0);
}
